* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f1f1f1;
}

main {
    /* Ocupa 100% da tela mas só usa 700px */
    width: 100%;
    max-width: 700px;
    margin: auto;
}

header {
    /* Elementos de linha como texto n se usa margin: auto, só usa isso em elementos de bloco */
    text-align: center;
}

header>img {
    /* Img meio estourada, diminui a largura e por consequencia a altura */
    width: 100px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    margin: 15px 0 100px 0;

    box-shadow: 3px 3px 10px grey;
}

fieldset {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

legend {
    font-size: 17px;
    font-weight: bold;

    padding: 0 5px;
    /* width: 100%; */

    text-align: center;
}

input {
    border-radius: 6px;
    border: 1px solid #b9b7b7;

    padding: 2px 0;
}

/* Sessão para inputs específicos */
input#image {
    border: 0px;
}

/* vAssim da pra acessar pela propriedade namev */
input[name="social"],
input[name='userOpinion'],
label#comentario {
    margin: 6px 0;
}

input[type='radio'],
input[type='checkbox'] {
    width: auto;
}

input[type='color'] {
    width: 40px;
    padding: 2px;
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}

input:valid,
select:valid,
textarea:valid {
    border-color: green;
}

/* ^Assim da pra acessar pela propriedade name^ */
label {
    display: inline-block;
    padding: 4px 0;
}

select {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #b9b7b7;
}

textarea {
    width: 100%;
    max-width: 635px;
    max-height: 100px;

    min-width: 200px;
    min-height: 50px;

    border-radius: 6px;
    border: 1px solid #b9b7b7;
}

input,
textarea {
    width: 100%;
}

p {
    margin: 0 0 10px 0;
}

/* Da pra fazer alterações no placeholder usando essa propriedade */
input::placeholder,
textarea::placeholder {
    padding: 5px;
}

button {
    font-size: 16px;
    font-weight: 500;
    width: 90px;

    background-color: #d4d4d4;

    padding: 8px;
    margin: 6px;

    border: none;
    border-radius: 10px;

    cursor: pointer
}

button[type='submit']:hover {
    background-color: green;
    color: white;
}

button#apagar:hover {
    background-color: rgb(216, 88, 88);
    color: white;
}