* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: 'Work Sans', sans-serif;
}

header {
    padding: 20px;
}

header>img {
    width: 100px;
}

section {
    text-align: center;
    background-color: white;
    width: 700px;
    /* margin: 300px auto; */
    border-radius: 15px;
}

h1 {
    padding: 15px;
    font-family: 'Fjalla One', sans-serif;
}

p {
    font-size: 20px;
    padding: 15px;
}